<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://wallpapercave.com/wp/wp3181495.jpg);">
  <div class="container">
    <h1>Studio Ghibli Studio Movies</h1>
    <p>“Always believe in yourself. Do this and no matter where you are, you will have nothing to fear.” — The Cat Returns (2020)</p>
    <%# <a class="btn btn-flat" href="#">Apply now</a> %>
  </div>
</div>

<div>
<h1><%= "My Lists" %></h1>

<ul>
  <% @lists.each do |list| %>
    <li>
      <%= link_to list.name, list_path(list.id) %>
  <% end %>
</ul>
</div>
