<h1>Movies</h1>

<button type="button" class="btn btn-success">Add a movie</button>

<ul>
  <div class="cards">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(movie.poster_url)">
        <%= bookmark.comment %>
        <%= bookmark.movie.title %>
      </div>
    <% end %>
  </div>
</ul>
